#Landing{
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("https://sathyabama.cognibot.in/pluginfile.php/1/theme_klass/slide3image/1636949046/IMG-20200731-WA0000%20%282%29.jpg");
    height: 400px;
    width: 100%;
 }
 #button{
    padding: 6px 24px;
 }
 #button1{
    padding: 6px 20px;
 }
 